<div class="container">
  <div class="row">
    <h3>TfL Challenge App</h3>
  </div>
  <div class="row">
    <p id="main">This app shows examples of what you can do with access to the Transport for London public API, as well as what
      you can do with Angular 4.<br>
      In this app I make use of <span>API's, services, directives, custom pipes, filtering and routing</span>. For more information,
      contact me by <a href="mailto:caza7@live.co.uk">email</a>.
    </p>
    <p>Created by Callum Green</p>
  </div>
</div>